@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/css/opensans.woff') format('woff'); 
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/css/opensans_semibold.woff') format('woff');
}
}

