article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block }
audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 20px 0;
    font: 13px/1.231 'Open Sans', sans-serif;
	color: #fff;
    height: 100%;
    background-repeat: no-repeat;
}
h1,h2,h3,h4,h5,h6 {margin: 0 0 10px;}
body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
::-moz-selection {
    text-shadow: none;
}
::selection {
    text-shadow: none;
}

/* Links */
a, .link { color: #07c }
a:visited { color: #05c }
a:focus { outline: thin dotted }
a:hover, a:active, .hover {
    color: #05c;
    text-decoration: underline !important;
    outline: 0;
}
/* Typography */
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: 700 }
blockquote { margin: 1em 40px }
dfn { font-style: italic }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 700;
}
pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q { quotes: none }
q:before, q:after {
    content: "";
    content: none;
}
small { font-size: 85% }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
/* Lists */
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd { margin: 0 0 0 40px }
nav ul, nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Embedded content */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) { overflow: hidden }
/* Figures */
figure { margin: 0 }
/* Forms */
form { margin: 0 }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}
label { cursor: pointer; margin-top: 16px; }
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
    *overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box }
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input:valid, textarea:valid { }
input:invalid, textarea:invalid { background-color: #f0dddd }
/* Tables */
table {
	width: 100%;
    border-spacing: 1px;
	margin: 0 0 20px 0;
	border-radius: 4px;
}

/* THEME */
header nav  {
    width: 100%;
    margin: 0 auto;
}
section, footer {
    width: 940px;
    margin: 0 auto;
    position: relative;
}
section {
    padding: 0 15px;
    overflow: hidden;
}

body {
    background: -webkit-linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                -webkit-linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
    background: -moz-linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                -moz-linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
    background: -o-linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                -o-linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
    background: -ms-linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                -ms-linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
    background: linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
    -pie-background: linear-gradient(0deg, #1b1b1b 4px, transparent 4px),
                linear-gradient(#1d1d1d 1%, #1a1a1a 1%, #1a1a1a 1%, transparent 4%, transparent 20%, #242424 20%, #242424);
                     0 0 / 20px #131313;
    behavior: url(/PIE.htc);    
    background-size: 10px 10px;
    background-color: #131313;
    padding: 0; height: 100%; display: block; width: 100%;}
/* buttons and icons */

button, input[type=button], input[type=submit], input[type=reset], .btn {
    position: relative;
    -moz-box-shadow: inset rgba(0,0,0,.2) 1px 1px 0, inset rgba(0,0,0,.2) -1px -1px 0;
    -webkit-box-shadow: inset rgba(0,0,0,.2) 1px 1px 0, inset rgba(0,0,0,.2) -1px -1px 0;
    box-shadow: inset rgba(0,0,0,.2) 1px 1px 0, inset rgba(0,0,0,.2) -1px -1px 0;
    padding: .7em 1.4em;
    text-decoration: none;
    border: none;
    font-weight: 700;
    margin: .2em .5em 0 .2em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	color: #fff !important;
    background-color: #222;
    text-shadow: #000 0 -1px 0;
    background-image: -moz-linear-gradient(top, #444, #222);/* FF3.6 */
    background-image: -ms-linear-gradient(top, #444, #222); /* IE10 */
    background-image: -o-linear-gradient(top, #444, #222); /* Opera 11.10+ */
    background-image: -webkit-linear-gradient(top, #444, #222); /* Chrome 10+, Saf5.1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222)); /* ios, win Saf5.1+ */
    background-image: linear-gradient(top, #444, #222);
    -pie-background: linear-gradient(top, #444, #222);
}
.btn small, li small {
    font-weight: normal;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 10px;
 }
header {position: fixed; z-index: 10000; bottom: 0px; width: 100%; left: 0px;}
hgroup h1 { z-index: 1; text-transform: uppercase; margin-left: 20px;}
hgroup h1 a {color: #fff !important; text-decoration: none; text-shadow: #abc 0 -1px 1px; margin: 0 auto;}

nav li a.btn:active, nav li a.btn:hover, nav li a.btn.active {
	color: rgba(0,0,0,.2) !important;
    -moz-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    -webkit-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    box-shadow:  inset #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
}
a.btn:active, a.btn:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:hover, table.data td {
    text-decoration: none !important;
    -moz-box-shadow: inset rgba(0,0,0,.3) 1px 1px 0, inset rgba(0,0,0,.3) -1px -1px 0, inset rgba(0,0,0,.2) 0 -10px 20px;
    -webkit-box-shadow: inset rgba(0,0,0,.3) 1px 1px 0, inset rgba(0,0,0,.3) -1px -1px 0, inset rgba(0,0,0,.2) 0 -10px 20px;
    box-shadow: inset rgba(0,0,0,.3) 1px 1px 0, inset rgba(0,0,0,.3) -1px -1px 0, inset rgba(0,0,0,.2) 0 -10px 20px;
}
a.btn.primary:active, a.btn.primary:hover {
    -moz-box-shadow: inset rgba(0,0,0,1) 1px 1px 0, inset rgba(0,0,0,1) -1px -1px 0, inset rgba(0,0,0,.9) 0 -10px 20px;
    -webkit-box-shadow: inset rgba(0,0,0,1) 1px 1px 0, inset rgba(0,0,0,1) -1px -1px 0, inset rgba(0,0,0,.9) 0 -10px 20px;
    box-shadow: inset rgba(0,0,0,1) 1px 1px 0, inset rgba(0,0,0,1) -1px -1px 0, inset rgba(0,0,0,.9) 0 -10px 20px;
}
.btn.link {
    background: none;
    text-decoration: underline;
}
li {position: relative;}
li small {top: 7px; right: 10px; width: 30px; text-align: center; padding: 2px; border-radius: 3px; box-shadow: inset rgba(0,0,0,.9) 0 0 1px;}
.btn small {text-shadow: none;}
/* nav */
header nav {
    position: relative;
    line-height: 42px;
    margin: 0 auto;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0, #000 0 -2px 3px; 
	color: #fff;
    background: #222;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);
}

nav ul {
    position: relative;
    margin: 0 0 0 10px;
    background: url(/img/skin-stitch.png);
}
nav li {
    display: inline;
    font-size: 90%;
    font-weight: 700;
    border: none;
}
 nav li a {
    position: relative;
    text-align: center;
    padding: .5em;
    margin: 0 .5em;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: black 0 -1px 1px;
 }
 nav li a:active, nav li.active a { 
    color: #3c0 !important;
    text-decoration: none !important;
    text-shadow: #000 0 -1px 0;
}
 nav li a.btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff !important;
    -moz-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    -webkit-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    box-shadow:  inset #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    min-width: 4em;
    text-shadow: #111 0 1px 0;
    background: #111;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #232323);
 }
 .btngrp { background: none; display: block;}
 .btngrp .btn, .btngrp input { margin-right: 5px }

header nav ul { padding: 4px 0 16px; }	
header nav ul.btngrp {
    position: absolute;
    right: .6em;
    top: 5px;
    padding: 0;
    background: none;
}
/* status */
.btn.fail {
    background: #900;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 1px, #000 0 -1px 3px;
    width: 16px !important;
    padding: 8px;
    border-radius: 2px;
}
.btn.warn {
background: #c60;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 1px, #000 0 -1px 3px;
    width: 16px !important;
    padding: 8px;
    border-radius: 2px;
}
.btn.good {
  background: #060;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 1px, #000 0 -1px 3px;
    width: 16px !important;
    padding: 8px;
    border-radius: 2px;

}
.btn.off {opacity: .2;}
.btn.on {box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 1px, #000 0 -1px 3px,inset rgba(255,255,255,.4) 0 0 4px, inset rgba(255,255,255,.2) 0 -1px -1px, inset rgba(255,255,255,.2) 0 1px 1px;}

/* section */
section h1 {}
.dash section {width: 100%;}
/* sectional aside */
aside h2 {text-align: center; margin: -11px -20px 20px !important;}
section aside {
    padding: 10px 20px 20px;
	margin: 0 -10px 20px;
}
section.c2c aside { /* 2 equal columns */
    width: 430px;
    float: right;
    margin: 0 -10px 20px 0;
}
section.c2ra aside { /* 2/3 - 1/3 columns */
    width: 270px;
    float: right;
    margin: 0 -10px 20px 20px;
}
section.c2la aside { /* 1/3 - 2/3 columns */
    width: 270px;
    float: left;
    margin: 0 20px 20px -10px;
}
section.c3 aside { /* 3 columns */
    width: 230px;
    float: left;
    margin: 0 20px 20px -10px;
}
section.c4 aside { /* 4 columns */
    width: 230px;
    float: left;
    margin: 0 20px 20px -10px;
}

section aside ul, ol {
    margin: 0 0 20px;
    padding: 0;
}
section aside ol li { margin: 0 0 10px 20px;}
section aside ol li .btn {width: inherit;}
section aside ul li {
    margin: 0 0 10px;
    list-style: none;
}
section aside li a {
    width: 170px;
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
    margin-left: -10px;
    display: block;
    font-weight: normal;
    color: #183F5B;
    background: #AFDEFF;
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
}
section aside li a.active {
    color: #fff !important;
    text-shadow: none;
    background: #183F5B;
}

.c3 .col {width: 30%;}
.col {
  float: left;
  margin: 0 16px 16px 0;
}
.col:last-child {
  margin: 0 0 16px 0;
}

/* articles */
section {height: 100%;}
.object { 
  position: absolute;
  top: 10px;
  left: 0px;
  width: 250px;
  height: 400px;
  display: block;
  color: rgba(255,255,255,.42);
}
.object .target { 
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(235,235,255,.26);
  width: inherit;
  height: inherit;
  display: block;
  overflow: visible;
  z-index: 1;
  box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0, inset rgba(0,0,0,.9) 4px 4px 0, inset rgba(0,0,0,.9) -4px -4px 0;
}
.object nav {
  position: absolute; 
  top: 0; 
  right: -54px;
  z-index: 99;
  min-height: 76px;
  min-width: 26px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0px;
  padding: 10px;
  -moz-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
  -webkit-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
  box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0; 
  color: #fff;
  font-size: 13px;
  text-shadow: #000 0 -1px 0;
  background: rgba(0,0,0,.9);
}
.object nav a {
display: block;
margin: 4px 0;
}
.detail {
  display: none; 
  width: 136px !important;
  z-index: 3;
  min-width: 26px;
  height: auto;
  margin: 0 auto;
  padding: 16px;
      -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;	
  -moz-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
  -webkit-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
  box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0; 
  color: #fff;
  font: 11px/1.5 courier, monospaced;
  text-shadow: #000 0 -1px 0;
  background: rgba(0,0,0,.9);
  position: absolute;
  top: 0;
  left: 48px;
}

.detail div {
    max-height: 348px;
    padding-right: 16px;
    overflow: auto;
} 
.detail p {position: relative;}
.detail p .ico {position: absolute; top: 0; right: 0; height: 16px; width: 16px;}

.object nav.expand {right: -45px;}

.emboss {padding: 20px;}
article {
    position: relative;
    padding: 20px 20px 5px 20px;
    margin: 0 -10px 20px;
}
article, aside, .modal, .emboss {
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;	
    margin-top: 1px !important;
    margin-bottom: 20px;
    box-shadow: inset rgba(0,0,0,.2) 1px 1px 0, inset rgba(0,0,0,.2) -1px 0 0, inset rgba(0,0,0,.1) 0 -1px 0, inset rgba(0,0,0,.1) 0 -5px 0, rgba(0,0,0,.2) 0 1px 1px;
    background-color: #fff;
	color: #444;
} 
.chrome {
    min-height: 160px;
    box-shadow: inset #abc 1px 1px 0, inset #abc -1px 0 0, inset #abc 0 -1px 0, inset #bcd 0 -5px 0, rgba(0,0,0,.2) 0 1px 1px;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #def 50%, #def 51%, #def 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #fff 0%,#def 50%,#ff 51%,#def 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #fff 0%,#def 50%,#cde 51%,#def 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#def 50%,#def 51%,#def 100%); /* W3C */
 }
 
/* forms */
input, textarea, select {
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 6px;
    color: #444;
    background-color: #fff;
}
input[type=text], input[type=email], input[type=url], input[type=search], input[type=password], textarea {
	width: 40%;
	line-height: 26px;
	min-width: 390px;
}

.col input[type=text], .col input[type=email], .col input[type=url], .col input[type=search], .col input[type=password], .col textarea {
	width: 40%;
	min-width: 165px;
}
label {
    display: block;
    position: relative;
	font-weight: 700;
	margin-bottom: 5px;
}
 label input, label select {
    left: 10em;
    position: absolute;
    clear: both;
 }
 label input[type=checkbox], label input[type=radio] {
    left: 0;
    position: relative;
    margin-right: 10px;
    float: left;
	width: auto;
 }
fieldset {
    border: none;
    padding-bottom: 20px;
    margin: 0;
    color: #444;
}
legend {
    margin: 0 auto;
    padding: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}
legend {
    margin: 0 auto;
    padding: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}
#competitive .c4 .col.emboss {padding-top: 0 !important;}
.c4 .col legend {
    margin: 0 auto;
    width: 170px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}
placeholder { color: #aaa }
input.primary { }
form p {position: relative;}
form p .info { top: 28px;}


/* footer */
footer {}
 footer .follow { float: right }
  footer .follow img {
     vertical-align: middle;
     margin-left: 5px;
  }
  footer .follow a {margin: 0;}
/* Non-semantic helper classes */
.ir {
    display: block;
    text-indent: -aaaem;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
 .ir br { display: none }
.hidden, .ico + span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.hidden.focusable:active, .hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible { visibility: hidden }
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { zoom: 1 }

/* modal */
.modal, .dialog, .progress, .welcome  {
    position: absolute;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;    
    -moz-box-shadow: rgba(0,0,0,.8) 0 2px 4px, rgba(0,0,0,.8) 0 4px 8px;
    -webkit-box-shadow: rgba(0,0,0,.8) 0 2px 4px, rgba(0,0,0,.8) 0 4px 8px;
    box-shadow: rgba(0,0,0,.8) 0 2px 4px, rgba(0,0,0,.8) 0 4px 8px;
    behavior: url(PIE.htc); /* lt IE10 */
}
.modal, .progress {
    z-index: 10002;
    top: 100px;
    left: 50%;
    margin: 40px 0 0 -225px;
    width: 450px;
}
.welcome {
    z-index: 10002;
    top: 100px;
    left: 50%;
    margin: 40px 0 0 -100px;
    width: 200px;
    padding: 0;
    height: 220px; 
    display: block;
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #fff, #ccc);
    background-image: -ms-linear-gradient(top, #fff, #ccc);
    background-image: -webkit-linear-gradient(top, #fff, #ccc);
    background-image: linear-gradient(top, #fff, #ccc);
}
.welcome .content h1 {
    font-family: 'Orbitron', sans-serif;
}
.welcome .content {
    text-align: center;
    vertical-align: bottom;
    color: #444;
    text-shadow: #fff 0 1px 0;
    width: 160px;
    padding: 20px;
    height: 180px;
    background: url(../img/logo.png) no-repeat 50% 80%;
}
.modal .content, .dialog .content {
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    position: relative;
    z-index: 10000;
    overflow: auto;
}
.modal .content {
    padding: 20px;    
    max-height: 480px;
}
.modal section {width: 100%; padding: 0;}
.modal article {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
}
.modal p {margin: 0 0 10px; padding: 0;}
.modal legend { display: none }
.modal h1, .dialog h1 {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0 auto;
    position: relative;
    text-align: left;
}
.modal h1, .dialog h1, header nav h1, .progress {
    padding: 10px;
    line-height:1.5;
    -moz-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
    -webkit-box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0; 
    color: #fff;
    font-size: 13px;
    text-shadow: #000 0 -1px 0;
    background: #222;
    background-image: -moz-linear-gradient(top, #222, #111);
    background-image: -ms-linear-gradient(top, #222, #111);
    background-image: -webkit-linear-gradient(top, #222, #111);
    background-image: linear-gradient(top, #222, #111);
}
.dash h1 {
    padding: 10px;
    line-height:1.5;
    margin: 0;
    box-shadow: inset rgba(255,255,255,.2) 0 1px 0, #000 0 1px 0;
    color: #fff;
    font-size: 13px;
    text-shadow: #000 0 -1px 0;
    background: #444;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);
}
.dash {
  position: relative;
  line-height: 1;
  min-height: 96px; 
  max-height: 466px; 
  width: inherit; 
  overflow: auto;
  margin: 0; 
  z-index: 9998;
  background: #222;
    background-image: -moz-linear-gradient(top, #111, #222);
    background-image: -ms-linear-gradient(top, #111, #222);
    background-image: -webkit-linear-gradient(top, #111, #222);
    background-image: linear-gradient(top, #111, #222);
}
.dash .content {padding: 16px;}
.dash textarea {margin: -16px -16px -16px; padding: 16px; width: 100%; height: inherit; background:#000; color: #fff; border: none; font: 13px/1 'Courier New', monospace;}
h1 input {background: none; border: none; color: #fff;}
h1 input:hover {
      -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff !important;
    -moz-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    -webkit-box-shadow: #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    box-shadow:  inset #000 0 1px 8px, inset #000 0 1px 1px, #666 0 1px 0;
    min-width: 4em;
    margin: 0  !important;
    text-shadow: #111 0 1px 0;
    background: #111;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);
  }


.dialog .arrw {
  left: 75px; 
  bottom: -10px; 
  background: #fff;
  z-index: 9999;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  -moz-box-shadow:  rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
  -webkit-box-shadow: rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
  box-shadow: rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
}
.dialog .content ul {list-style: none; margin: 10px 0; padding: 0;}
.dialog .content li {list-style: none; display: block; margin: 0 0 5px; padding: 2px 0; border-bottom: 1px solid #ddd;}

.dialog .content {width: 180px; max-height: 112px; min-height: 112px; padding: 10px; text-align: left; color: #444; text-shadow: none;}
.dialog {top: -190px; left: -80px; width: 200px; margin: 0; height: 170px;z-index: 9999;
}

.modal .btngrp, aside .btngrp .btn { 
    text-align: right;
    margin: 30px 0 20px 10px; 
}
.splash {
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;    
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
}
.modal .close, .dialog .close, #message .close, .dash .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff !important;
    z-index: 1;
    text-shadow: #112e42 0 -1px 0;
    font-weight: 700;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}
.ico:hover, a.ico:hover, .active {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;    
    background-color:#000;
    color: #222 !important;
}
.active {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;    
    background-color:#000 !important;
    color: #222 !important;
}
#message, .tour.dot {
    padding: 8px 16px 8px;
    -moz-box-shadow: rgba(0,0,0,.7) 0 4px 8px;
    -webkit-box-shadow: rgba(0,0,0,.7) 0 4px 0, rgba(0,0,0,.7) 0 4px 8px;
    box-shadow: rgba(0,0,0,.7) 0 4px 8px;
    position: relative;
    min-height: 42px;
    line-height: 42px;
    z-index: 9999;
}
#message .arrw {
  left: 5px; 
  bottom: -10px; 
  background: #36c;
  z-index: 9998;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  -moz-box-shadow:  rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
  -webkit-box-shadow: rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
  box-shadow: rgba(0,0,0,.4) 2px 2px 4px, rgba(0,0,0,.4) 4px 4px 8px;
}
#message h2, #message p {
    width: 960px;
    margin: 0 auto;
    font-weight: 400;
    }
    
#message, #message a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
#message .btn {position: absolute; top: 0; right: 26px; line-height: 16px;}    
.error {
  background-color: #c43c35;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
}
.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
}
.tour, .primary {
  background-color: #36c;
  color: #fff !important;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #25f, #25d);
  background-image: -ms-linear-gradient(top, #36c, #25d);
  background-image: -webkit-linear-gradient(top, #36f, #25d);
  background-image: linear-gradient(top, #36f, #25d);
}
.tour.dot {
    display: block;
    position: absolute;
    height: 26px;
    min-height: 26px;
    line-height: 26px;    
    width: 26px;
    padding: 0;
    z-index: 1000000;
    text-align: center;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
}
.tour.dot .arrw {
  left: 10px; 
  top: 10px; 
  background: #25d;
  z-index: 9998;
  position: absolute;
  height: 26px;
  width: 26px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
.progress div {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #444;
    width: 80%;
    margin: 20px auto;
    padding: 0;
    height: 28px;
    text-decoration: none !important;
    -moz-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    -webkit-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    background: #222;
    background-image: -moz-linear-gradient(top, #111, #222);
    background-image: -ms-linear-gradient(top, #111, #222);
    background-image: -webkit-linear-gradient(top, #111, #222);
    background-image: linear-gradient(top, #111, #222);
}
.progress b {
    text-shadow: none;
    color: rgba(0,0,0,.5);
    text-align: right;
    -moz-box-shadow: inset rgba(0,0,0,.8) 0 1px 3px, rgba(0,0,0,.8) 1px 0 3px;
    -webkit-box-shadow: inset rgba(0,0,0,.8) 0 1px 3px, rgba(0,0,0,.8) 1px 0 3px;
    box-shadow: inset rgba(0,0,0,.8) 0 1px 3px, rgba(0,0,0,.8) 1px 0 3px;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    height: 24px;
    line-height: 1.9;    
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
}


#maindisplay > img {
    width: 100%;
}

#display {
    position: absolute;
    top: 0px;
    left: 0px;
}


#radial_container { 
	position:absolute;
	top: 120px;
	left: 120px;
	z-index: 2;
	width:60px; 
	height:60px; 
	border-radius:120px;
	text-align:center;
	box-shadow: rgba(0,0,0,.4) 0 8px 16px, inset rgba(0,0,0,1) 0 1px 0, inset rgba(0,0,0,1) 0 1px 8px, rgba(0,0,0,1) 0 1px 1px;
	border: rgba(0,0,0,.6) solid 80px;
	display: none;
	background: url("/img/74-location2x.png") no-repeat 50% 50%;
}
.radial_div_item a {
	line-height:26px;
	font-size: 16px;
	padding: 8px;
	height: 26px;
	width: 26px;
	color:#fff;
	display: block;
	text-decoration: none;
	border-radius:26px;
	cursor:pointer;
	background: rgba(0,0,0,.5);
	box-shadow: inset rgba(0,0,0,.8) 0 8px 16px, rgba(0,0,0,1) 0 0 0;

}
.radial_div_item.active a { 
	background-color:#111;
	z-index:100;
	color:#444 !important;
	box-shadow: inset #222 0 0 4px
}



/* icons */
	.ico + em {text-indent: -1000;}
    .ico, a b.ico {opacity: .9; display: inline-block; height: 26px; width: 26px;}

    .btn .ico {margin-right: 5px; position: absolute; left: 5px; top: 3px; }
    .ico:hover, a b.ico:hover {opacity: .6;}
    .ico.contrast {background: url("../img/62-contrast.png") no-repeat 50% 50%;}
    .ico.bright {background: url("../img/61-brightness.png") no-repeat 50% 50%;}
    .ico.gear {background: url("../img/19-gear.png") no-repeat 50% 50%;}
    .ico.sliders {background: url("../img/106-sliders.png") no-repeat 50% 50%;}
    .ico.chat {background: url("../img/08-chat.png") no-repeat 50% 50%;}
    .ico.crop {background: url("../img/292-crop.png") no-repeat 50% 50%;}
    .ico.zoom-in {background: url("../img/267-zoomin.png") no-repeat 50% 50%;}
    .ico.zoom-out {background: url("../img/268-zoomout.png") no-repeat 50% 50%;}
    .ico.close {background: url("../img/298-circlex.png") no-repeat 50% 50%;}
    .ico.info {background: url("../img/42-info.png") no-repeat 50% 50%;}
    .ico.code {background: url("../img/code.png") no-repeat 50% 50%;}
    .ico.play {background: url("../img/30-circle-play.png") no-repeat 50% 50%;}
    .ico.watch {background: url("../img/13-eye.png") no-repeat 50% 50%;}
    .ico.watched {background: url("../img/13-eye-b.png") no-repeat 50% 50%;}
    .ico.lock {background: url("../img/lock.png") no-repeat 50% 50%;}
    .ico.unlock {background: url("../img/unlock.png") no-repeat 50% 50%;}
    
    .smico, a b.smico {opacity: .9; display: inline-block; height: 22px; width: 22px;}
    .smico:hover, a b.smico:hover {opacity: .6;}
    .smico.crop {background: url("../img/292-crop.png") no-repeat 75% 75%;
       background-size: 75%; }
    .smico.contrast {background: url("../img/62-contrast.png") no-repeat 75% 75%;
       background-size: 75%; }
    .smico.chat {background: url("../img/08-chat.png") no-repeat 75% 75%;
       background-size: 75%; }
    .smico.info {background: url("../img/42-info.png") no-repeat 75% 75%;
       background-size: 75%; }
    .smico.sliders {background: url("../img/106-sliders.png") no-repeat 75% 75%;
       background-size: 75%; }
    .smico.bright {background: url("../img/61-brightness.png") no-repeat 75% 75%;
       background-size: 75%; }
       
       




/* tablet ----------- */
@media (max-width: 1024px) and (orientation: portrait) { 
    /* Styles */
    html, body {
       -webkit-text-size-adjust: none;
       -ms-text-size-adjust: none;
    }
    header nav, section, #marquee, footer {
       width: 740px;
       margin: 0 auto;
       position: relative;
    }
    .dash {width: 720px;}
    .subnav .filter { width: 730px }
    .paginate { margin: 10px 0 20px 260px }
    article { width: 270px !important }
    nav li a { padding: .4em }
	.subnav span { margin: 0 0 0 10px }
    #marquee { margin: 20px auto }
    #marquee div { width: 230px }
    .arrw { bottom: -50px }
    header nav .arrw { bottom: -55px }
    section nav .arrw { bottom: -55px }
}
@media print { 
    * {
       background: transparent !important;
       color: black !important;
       text-shadow: none !important;
       filter: none !important;
       -ms-filter: none !important;
    }
    /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited {
       color: #444 !important;
       text-decoration: underline;
    }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
    pre, blockquote {
       border: 1px solid #aaa;
       page-break-inside: avoid;
    }
    thead { display: table-header-group }
    tr, img { page-break-inside: avoid }
    img { max-width: 100% !important }
}

#histogram {
   width: 150px;
   height: 28px;
   position: relative;
   top: 10px;
}

.stretchee {
    opacity: 0%;
    position: absolute;
    z-index: 80;
}

.inspectionmanage {
    background: #000;
    z-index: 81;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #FFF;
}

.inspectionmanage a {
    color: #FFF;
    text-decoration: none;
    
}

.inspectioncontrol {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #444;
    width: 200px;
    padding: 10px;
    height: auto;
    position: absolute;
    z-index: 99;
    text-decoration: none !important;
    color: #CCC;
    -moz-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    -webkit-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    background: #222;
    background-image: -moz-linear-gradient(top, #111, #222);
    background-image: -ms-linear-gradient(top, #111, #222);
    background-image: -webkit-linear-gradient(top, #111, #222);
    background-image: linear-gradient(top, #111, #222);
}


.inspectioncontrol > .control * {
    display: inline-block;
}

.tooltip {
    display:none;
    font-weight:bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    -webkit-box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    box-shadow: inset rgba(0,0,0,.8) 1px 1px 0, inset rgba(0,0,0,.8) -1px -1px 0, inset rgba(0,0,0,1) 0 1px 3px;
    background: #222;
    background-image: -moz-linear-gradient(top, #111, #222);
    background-image: -ms-linear-gradient(top, #111, #222);
    background-image: -webkit-linear-gradient(top, #111, #222);
    background-image: linear-gradient(top, #111, #222);
    font-size:12px;
    height: auto;
    width: auto;
    padding:5px;
    color:#fff;
    z-index: 999;
}

