<h2>Motion</h2>
<div id="graph_motion" class="graph"></div>
<iframe src="/olap/Random" width="530" height="80"></iframe>
<script type="text/javascript">
var data = [];

function rotatedata() {
$.getJSON('/olap/Random', function(data) {
	var plot1 = $.jqplot ('graph_motion', [data.data]);
        plot1.replot();
});
	setTimeout("rotatedata()",1000);
}

$(document).ready(function() {
	rotatedata(); 

});
</script>
