<h2>{{name}}</h2>
<div class="btn-group" id="btn-{{id}}" data-toggle="buttons-radio">
  <button class="btn" value="10">10s</button>
  <button class="btn" value="60">1m</button>
  <button class="btn" value="300">5m</button>
</div>
<div id="{{id}}" class="graph-container">
</div>
