<h2>Motion Test With Random Update</h2>
<div id="graph_motion" class="graph"></div>
<script type="text/javascript">
var data = [];
var arrayMax = 40;
var limit = arrayMax + 1;
for (var i = 0; i < arrayMax; i++) {
  data.push(Math.floor(Math.random()*limit));
}


function rotatedata() {
	var el = data.shift();
	data.push(el);
	var plot2 = $.jqplot ('graph_motion', [data]);
	setTimeout("rotatedata()",1000);
}

$(document).ready(function() {
	var plot1 = $.jqplot ('graph_motion', [data]);
	setTimeout("rotatedata()",1000);

});
</script>
