<div class="row">
  <form class="well span3" id="filter_form">
    <h4>Filter frames</h4>
    <label>Camera:</label>
    <input type="text" name="camera">
    <label>From:</label>
    <input type="text" name="time_from">
    <label>To:</label>
    <input type="text" name="time_to">
    <input class="btn btn-primary" type="submit" value="Filter">
    <input class="btn" type="reset" value="Reset">
  </form>
  <div class="span9 offset3">
    <div id="frame_counts">
      <p>Viewing <span id="count_viewing">{{count_viewing}}</span> of <span id="count_total">{{count_total}}</span> frames.</p>
      <button id="load_new" class="btn btn-primary"><span id="count_new">{{count_new}}</span> new frames</button>
    </div>
    <div id="frame_holder"></div>
  </div>
</div>
<div id="loading_message" class="alert alert-info span11">
  Loading <span id="next_page_size">20</span> more frames...
</div>