<h2>{{name}}</h2>
<div class="frame-small">
{{#each frames}}
  <div class="thumbnail">
    <span id="{{this}}" class="close-button">X</span>
    <img src="/grid/imgfile/{{this}}">
  </div>
{{/each}}
<div style = "clear:both"></div>
</div>
