Viewing <span id="count_viewing">{{count_viewing}}</span> of <span id="count_total">{{count_total}}</span> frames.
<div id="frame_holder"></div>
<div id="loading_message" class="alert alert-info span11">
  Loading <span id="next_page_size">20</span> more frames...
</div>