<div class="row">
  <div style="position: fixed;">
    <div id="icon-menu">
      <div class="icon-item">
      </div>
    </div>
    <!--second tier menu panel -->
    <div id="second-tier-menu">
      <div class="second-tier-item">
        <div id="second-tier-header">
          <span class="title">Control Panel</span>
          <img id="minimize-control-panel" src="img/arrows-minimize.png" />
        </div>
      </div>
      <div id="filter_form"></div>
        <div id="second-tier-footer">
          <p style="clear:both;">Viewing <span id="count_viewing">{{count_viewing}}</span> of <span id="count_total">{{count_total}}</span> frames.</p>
        </div>
    </div>
  </div>
</div>
  <div class="span9 offset3">
    <div id="frame_holder"></div>
  </div>
</div>
<div id="loading_message" class="alert alert-info span11">
  Loading <span id="next_page_size">20</span> more frames...
</div>
