		<div id="content" class="row">
		  <div class="span5">
			<h2>Live Feed</h2>
			<div id="fishBowl">
				<img src="/frame"/>
			</div>
		  </div>
		  <div class="span7">
			<h2>Motion</h2>
			<div id="graph2" class="graph"></div>
			
			<h2>Fish Observed</h2>
			<div id="graph1" class="graph"></div>
		  </div>
		</div>  
