    <div class="subnav" id="search_bar">
      <ul class="nav nav-pills">
        <li class="state_toggle">
          <a href="#" title="Click to pause" id="realtimecontrol">Live</a>
        </li>
        <li class="timespan_toggle">
          <a href="#" title="Click to hide timespan controls"><i class="icon-time"></i></a>
        </li>
        <li class="time_controls">
          <span class="subnav_content">
            <label>From</label> <input type="text">
            <label>To</label> <input type="text">
          </span>
        </li>
        <li class="search_bar">
          <span class="subnav_content">
            <input type="text" placeholder="Search" class="search" style="width: 435px">
            <input type="button" value="Go">
          </span>
        </li>
      </ul>
    </div>
		<div id="messages"></div>
		<div id="control-bar">
			<!-- <button id="realtimecontrol" class="btn active" data-toggle="button">Pause</button> -->
			<div id="control-bar-realtime">
				<input type="text" id="chart-interval">
			</div>
			<div id="control-bar-paused" class="hidden">
				<input type="text" name="date-from" id="date-from" value="" />
				<input type="text" name="date-to" id="date-to" value="" />
			</div>
			<button id="controlbarchangebtn" class="btn">Change</button>
		</div>
		<div id="content" class="row">
		  <div id="frame-container" class="span{{#if chartcount}}5{{else}}12{{/if}}"></div>
          {{#if chartcount}} 
		  <div id="chart-container" class="span7">
		  </div>
          {{/if}}
		</div>
		</div>
