    <div class="subnav" id="search_bar">
      <ul class="nav nav-pills">
        <li class="state_toggle">
          <a href="#" title="Click to pause" id="realtimecontrol">Live</a>
        </li>
        <li class="timespan_toggle">
          <a href="#" title="Click to hide timespan controls"><i class="icon-time"></i></a>
        </li>
        <li class="time_controls">
          <span class="subnav_content hide" id="control-bar-paused">
            <label>From</label> <input type="text" id="date-from">
            <label>To</label> <input type="text" id="date-to">
          </span>
          <span class="subnav_content" id="control-bar-realtime">
            <label>Interval</label> <input type="text" id="chart-interval">
          </span>
          <input type="button" id="controlbarchangebtn" value="Change">
        </li>
        <li class="search_bar">
          <span class="subnav_content">
            <input type="text" placeholder="Search" class="search" style="width: 435px">
            <input type="button" value="Go">
          </span>
        </li>
      </ul>
    </div>
		<div id="messages"></div>
		<div id="content" class="row">
		  <div id="frame-container" class="span{{#if chartcount}}5{{else}}12{{/if}}"></div>
          {{#if chartcount}} 
		  <div id="chart-container" class="span7">
		  </div>
          {{/if}}
		</div>
		</div>
