    <div class="subnav" id="search_bar">
      <ul class="nav nav-pills">
        <li class="state_toggle">
          <a href="#" title="Click to pause" id="realtimecontrol">Live</a>
        </li>
        <li class="timespan_toggle">
          <a href="#" title="Click to hide timespan controls"><i class="icon-time"></i></a>
        </li>
        <li class="time_controls">
          <span class="subnav_content hide" id="control-bar-paused">
            <label>From</label> <input type="text" id="date-from">
          </span>
          <span class="subnav_content" id="control-bar-realtime">
            <label for="chart-interval">Interval</label>
            <select name="chart-interval" id="chart-interval">
              <option value="60">1 Minute</option>
              <option value="300" selected>5 Minute</option>
              <option value="900">15 Minute</option>
              <option value="1800">30 Minutes</option>
            </select>
          </span>
          <span>
            <label>To</label> <input type="text" id="date-to">
          </span>
        </li>
        <li class="search_bar">
          <span class="subnav_content">
            <input type="text" placeholder="Search" class="search" style="width: 365px">
            <input type="button" value="Go">
          </span>
        </li>
      </ul>
    </div>
		<div id="messages"></div>
		<div id="preview"></div>
		<div id="content" class="row">
		  <div id="frame-container" class="span{{#if chartcount}}5{{else}}12{{/if}}"></div>
		  <div id="frame-set-container" class="span7"></div>
          {{#if chartcount}} 
		  <div id="chart-container" class="span7">
		  </div>
          {{/if}}
		</div>
		</div>
