<h4>{{label}}</h4>
<div class="oneLine">
  <label for="time_from">From:</label>
  <input type="text" name="time_from" id="{{name}}from">
</div>
<div class="oneLine">
  <label for="time_to">To:</label>
  <input type="text" name="time_to" id="{{name}}to" placeholder="Now">
</div>
