<h4>{{label}}</h4>
<label for="time_from">From:</label>
<input type="text" name="time_from" id="{{name}}from">
<label for="time_to">To:</label>
<input type="text" name="time_to" id="{{name}}to" placeholder="Now">
