                  <table class="tablesorter">
                    <thead> 
                      <tr>
                        {{#each header}}
                        <th>{{this}}</th>
                        {{/each}}
                      </tr> 
                    </thead>
                    <tbody>
                        {{#each row}}
                          <tr>
                          {{#each this}}
                            <td>
                              {{this}}
                            </td>
                          {{/each}}
                          </tr>
                        {{/each}}
                    </tbody>
                  </table>
