body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.hide {
  display:none !important;
}

.navbar-inner {
  padding-top: 2px;
  height: 46px;
}

.navbar .nav > li > a {
  padding: 12px 12px 14px;
}

#main{
  position: relative;
}

#display{
  position: relative;
}  
#display > img {
    width: 100%;
}
#displaycanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
  
  
.brand {
  margin-top: 2px;
}

#content {
  margin-top: 40px;
}

#frame {
  padding: 20px;
  background: #eee;
  border-radius: 8px;
}

#frame img {
  width: 100%;
}
p.frame_icons{
  margin-top: 5px;
  font-size: 11px;
  i{
    opacity: .7;
  }
}
#properties, #features {
  padding: 5px;
  background: #eee;
  border: 4px solid #eee;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 13px;
}

#properties table {
  width: 100%;
  border: 1px solid #ddd;
  background: white;
}

#properties table span {
  color: #aaa;
}

#properties table tr:nth-child(odd) td {
  background-color: #fcfcfc;
}

#features .set {
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
}

.set .value {
  font-size: 28px;
  color: #aaa;
  font-weight: normal;
  margin-top: 5px;
}

#features .set:nth-child(1) {
  margin-top: 0px;
}

p.frame_icons{
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 11px;
  i{
    opacity: .7;
  }
}


.graph {  
  height: 150px;
  background: #eee;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 20px solid #eee;
  background: #333;
}
.graph-container {
  margin-bottom: 40px;
}

.graph canvas {
  height: 100%;
}

.btn .active {
  background: #6C6;
}

#loading_message{
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  margin: 0 0 1em 1em;
  opacity: .9;
}

